@charset "utf-8";

/*//////////// menu ////////////
=01 default
=02 common
	= wrapper
	= header
	= contents
	= footer
//////////////////////////////*/

/*************************************************
			=01 default
*************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, b, font, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
html {
	overflow-y: scroll;
}
body {
	color: #666;
    font: 14px Verdana, Arial,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',Osaka,'ＭＳ Ｐゴシック', sans-serif;
}
header, footer, nav, section, article {
	display: block;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ol, ul {
	list-style: none;
}
caption, th {
	text-align: left;
}
input, textarea {
	border: none;
	padding: 0;
	margin: 0;
	color: #666666;
}
hr {
	display: none;
	height: 0;
	margin: 0;
	padding: 0;
}
a {
	color: #666666;
}
a:hover {
	text-decoration: none;
	color: #999999;
}

/*************************************************
			=02 common
*************************************************/

/*= contents
======================================*/
#contents {
	width: 800px;
	margin: 0 auto;
}

/*= heading
======================================*/
#wrapper h1,
#wrapper h2,
#wrapper h3,
#wrapper h4 {
	margin: 1em 0;
	font-weight: bold;
}
#wrapper h1 {
	font-size: 34px;
}
#wrapper h2 {
	font-size: 28px;
}
#wrapper h3 {
	font-size: 22px;
}
#wrapper h4 {
	font-size: 16px;
}
#wrapper p {
	margin-bottom: 1em;
}
